[Unit]
Description=A team-based draft-picker for Civ V with Discord integration.

[Service]
Type=forking
PIDFile=/run/civ-randomizer.pid
EnvironmentFile=/etc/environment
ExecStart=civilization-randomizerd
User=ivo
Group=ivo

[Install]
WantedBy=multi-user.target
